.calendar {
  width: calc(100% - 6px); /* 100% - borders */
  position: relative;
}

.calendar button {
  position: absolute;
  z-index: 1;
  top: 4px;
  padding: 0 6px;
  background-color: white;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.calendar button:hover {
  background-color: #eee;
}

.previousMonth {
  left: 0.5rem;
}

.nextMonth {
  right: 0.5rem;
}

.title {
  width: 100%;
  text-align: center;
  background-color: #ddd;
}
