.reminder {
  padding: 1em 1em;
  position: relative;
}

.reminder input {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 3px;
}

.reminder input[type="color"] {
  display: block;
}

.time {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.save {
  background-color: #4c56af; /* Green */
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  float: right;
}
